<div class="container">
    <div class="row">
        <div class="col-md-5">
          <div class="col-md-12">
              <app-recipes-list (theSelectedRcipe)="onTheSelectedRecipe($event)"></app-recipes-list>
          </div>
        </div>
        <div class="col-md-7">
          <div class="col-md-12">
              <app-recipe-details *ngIf="selectedRecipe; else infoTxt " [recipeElement]="selectedRecipe"></app-recipe-details>
            <ng-template #infoTxt>
                <p>Please Select A Recipe</p>
            </ng-template>
            </div>
        </div>
      </div>
</div>